name: 'Build and Test'

on:
  push:

jobs:
  build:
    name: 'Build and Test'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repository
        uses: actions/checkout@v6

      - name: Setup Haskell
        uses: haskell-actions/setup@v2
        with:
          ghc-version: '9.6.7'
          enable-stack: true
          stack-version: 'latest'
  
      - name: Cache ~/.stack
        id: cache-stack
        uses: actions/cache@v5
        with:
          path: ~/.stack
          key: stack-home-${{ hashFiles('**/package.yaml')}}-${{ hashFiles('**/stack.yaml*') }}
          restore-keys: |
            stack-home-

      - name: Setup Stack
        run: |
          stack setup
      
      - name: Install dependencies
        run: |
          stack build --only-dependencies
      
      - name: Build
        run: |
          stack build
      
      - name: Test
        run: |
          stack test
